<%content_for :head do%>
  <style type="text/css">
  #allmap {width: 1024px;height: 700px;overflow: hidden;margin:0;font-family:"微软雅黑";}
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xXGqIMtRUZez5bablQqGGmx4"></script>
  <title>地图展示</title>
<%end%>

<h1>电子警察列表</h1>
<br/>

<form method="get" action="<%=electronic_polices_list_path %>" class="navbar-form ">
  <input name="keyword" type="text" placeholder="搜索电子警察" class="form-control">
  <button class="btn btn-danger" type="button" id="epssearch">查询</button>
</form>

<br/>

<div id="allmap"></div>
<ul>
<%@eps.each do |ep|%>
<li>
<%=ep.id%>. <%=link_to(ep.position, electronic_polices_list_path(keyword: ep.position[0..2]))%>, <%=ep.cjsj%>
</li>
<%end%>
</ul>
<%=paginate @eps%>


<script type="text/javascript">
    // 百度地图API功能
    //GPS坐标
    //var points = ['121.79309, 31.09605', '121.452039, 30.903251']
    var points = [<%=raw @eps.map{|s|"'#{s.gps},#{s.position}'"}.join(",")%>]
    //var points =  ['121.515028, 31.268343,大连路/周家嘴路']
    if (points.length == 0) {
    
        var x = 121.513681; 
        var y = 31.270249
    } else {
        var x = points[0].split(/,\s*/)[0]
        var y = points[0].split(/,\s*/)[1]
    }
    var ggPoint = new BMap.Point(x,y);

    //地图初始化
    var bm = new BMap.Map("allmap");
    bm.centerAndZoom(ggPoint, 15);
    bm.addControl(new BMap.NavigationControl());
    bm.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放    

    for (var i = 0; i < points.length; i++) {
      //添加gps marker和label
      var x = points[i].split(/,\s*/)[0]
      var y = points[i].split(/,\s*/)[1]
      var postion = points[i].split(/,\s*/)[2]
    
      var ggPoint = new BMap.Point(x,y);
      var markergg = new BMap.Marker(ggPoint);
      bm.addOverlay(markergg); //添加GPS marker
      var labelgg = new BMap.Label(""+i+"."+postion,{offset:new BMap.Size(20,-10)});
      markergg.setLabel(labelgg); //添加GPS label
    }


</script>
