<!DOCTYPE html>
<html>
<head>
  <title>Xincheping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">新车评收集</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" placeholder="Search..." class="form-control">
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
            <li class="active"><a href="#">概述</a></li>
            <li><%= link_to '编辑们', editors_path %></li>
            <li><%= link_to '长测', changces_path%></li>
            <li><%= link_to '观点', guandians_path %></li>
            <li><%= link_to '车评', pingces_path %></li>
          </ul>

          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <%= yield %>

          </div>
      </div>

    </div>


</body>
</html>
